@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

nav{
    display: flex;
    background-color: #123456;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: #fff;
}

.navLinks{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -47%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    flex-direction: column;
    z-index: 999;
    overflow-y: hidden;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

button{
    all: unset;
    background-color: #123456;
    color: #fff;
    padding: 5px 22px;
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 5px;
}

#gameBoard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    user-select: none;
}

.box{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #123456;
    border-bottom: 4px solid #123456;
    font-weight: bold;
    color: #123456;
    font-size: 120px;
    text-transform: uppercase;
    cursor: default;
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom: none;
}

.score{
    margin-top: 50px;
    display: flex;
    text-align: center;
    gap: 10px;
    flex-direction: column;
}

.scoreNumbers{
    display: flex;
    gap: 40px;
}

.score span{
    display: block;
    font-weight: 600;
    font-size: 40px;
    color: #123456;
}

.score p{
    font-weight: 500;
    font-size: 18px;
}

.score button{
    width: 50%;
    margin: 0 auto;
}

.footer{
    position: relative;
    background-color: #123456;
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin-top: 3rem;
}

.modalWrapper{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    flex-direction: column;
    visibility: hidden;
}

.modalWrapper div{
    margin-bottom: 6rem;
}

.modalWrapper h1{
    font-size: 40px;
}

@media screen and (max-width:576px){

    #gameBoard{
        width: 330px;
        margin: 3rem 0 0;
    }

    .box{
        width: 110px;
        height: 110px;
        font-size: 70px;
    }
}